 /*for importing fonts we'll write below code i.e @font-face, font-family, src */
 /*
 @font-face {
    font-family: 'Montserrat-Regular';
    src: url(../Fonts/Montserrat-Regular.ttf) format('truetype'); 
} */
/*
@font-face {
    font-family: 'Montserrat-Bold';  
    src: url(../Fonts/Montserrat-Bold.ttf) format('truetype');
} */ /* --> if we want our H1 tags bold in Montserrat font we'll import it by above commented lines*/

body{
    background-color: #D2DEF2;
    font-family: 'Dancing Script', cursive;
    /*font-family: 'Courier New', Courier, monospace;*/
    /*font-family: 'Montserrat-Regular'; */
    
}


IMG{
    width: 300PX;
    height: auto;
    border: 10px solid #3A7EE7;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

h1{
    color: #3A7EE7;
    font-size: 42px;
    font-weight: 10;
    /* font-family: 'Montserrat-Bold'; */  /* --> if we want to make our H1 tag bold in Monserrat font we'll use this */
}

h2{
    color: #3A7EE7;
}